body{
    background-image: url('/hh/computer-with-lamp-and-books-3d-illustration-photo.jpg');
    background-repeat: no-repeat;
}
h1{
    margin-left: 100px;
}
.ii{
    background: round;
    margin-left: auto;
    margin-right: auto;
}
input{
    border: 1px solid white;
    margin-top: 20px;
    padding: 15px 60px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 30px;
    
}

input::placeholder{
    color: tan;
}

button {
  display: inline-block;
  border-radius: 16px;
  background-color: #5bff60;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 90px;
  margin-top: 10px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
.name{
    margin-left: auto;
    margin-right: auto;
}
.email{
    margin-left: auto;
    margin-right: auto;
}
h5{
    color: white;
    margin-left: 90px;
}
.password{
    margin-left: auto;
    margin-right: auto;
}
.all{
    margin-top: 70px;
    backdrop-filter: blur(7px);
    border: 2px solid burlywood;
    background: transparent;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 450px;
}